<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang Kami</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">    
    <h1>Tentang Kami </h1>
    <div class="card">
    <p>Sistem pakar ini membantu mengidentifikasi dampak penggunaan teknologi terhadap kesehatan Anda. Dengan menjawab serangkaian pertanyaan tentang gejala-gejala yang Anda alami, sistem ini dapat memberikan kemungkinan diagnosis berdasarkan basis pengetahuan yang telah ditentukan.</p> <hr />
    <p>Sistem ini dibuat untuk memenuhi Tugas Projek UAS mata kuliah Kecerdasan Buatan</p><hr/>
    <p>Kelompok 3: </p>
    <li>Raka Yogaswara Pratama Husaeni	21110282</li>
    <li>Khofifah Munjiah				21110410</li>
    <li>Silma Sundari					21110276</li>
    <li>Zainal Arifin Fadliansyah	    21110561</li>
    
    <a href="{{ url_for('index') }}"class="btn">Kembali ke Beranda</a>
    </div>
    </div>
</body>
</html>
