<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>Informasi Kontak</h1>
    <div class="card">
    <p>Jika Anda memiliki pertanyaan atau membutuhkan bantuan lebih lanjut, silakan hubungi kami:</p>
    <p>Email: support@sistempakarkel3.com</p>
    <p>Alamat instansi: Jl. Soekarno Hatta Jl. Leuwi Panjang No.211, Situsaeur, Kec. Bojongloa Kidul, Kota Bandung, Jawa Barat 40233]</p>
    <p>Telepon: +62-123-456-789</p>
    <a href="{{ url_for('index') }}"class="btn">Kembali ke Beranda</a>
    </div>
    </div>
</body>
</html>
