<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi Tambahan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>Informasi Tambahan</h1>
    <div class="card">
    <ul>
       <h3><p>Berdasarkan penelitian yang telah dilakukan mengenai dampak penggunaan teknologi smartphone dan komputer 
        terhadap kesehatan fisik dan mental pengguna, dapat disimpulkan beberapa poin penting sebagai berikut:</p></h3><hr/><hr>
        <p>Dampak kesehatan fisik:</p>
        <li>Penggunaan smartphone dan komputer secara berlebihan terbukti memiliki dampak negatif pada kesehatan fisik pengguna. 
            Gangguan mata seperti Computer Vision Syndrome (CVS), gangguan tidur akibat paparan cahaya biru, serta masalah muskuloskeletal 
            seperti nyeri leher dan punggung adalah beberapa efek samping yang umum terjadi.</li>
        <li>Penggunaan postur yang buruk dan durasi penggunaan yang terlalu lama tanpa jeda dapat memperparah kondisi kesehatan fisik ini.</li>
        <p>Dampak kesehatan mental:</p>
        <li>Penggunaan teknologi secara berlebihan juga berdampak pada kesehatan mental. Stress dan kecemasan dapat meningkat akibat overload informasi 
            dan tekanan dari media sosial. </li>
        <li>Pengguna yang terpapar secara intensif pada konten-konten negatif atau membandingkan diri dengan orang lain 
            di media sosial cenderung mengalami gangguan kesehatan mental seperti depresi dan kecemasan.</li>
        <p> Dengan memahami dan mengidentifikasi dampak penggunaan teknologi smartphone dan komputer, serta memanfaatkan kecerdasan buatan untuk analisis data, 
            informasi ini bisa memberikan edukasi serta pengetahuan dalam meningkatkan kesadaran akan pentingnya penggunaan teknologi yang sehat dan bertanggung jawab. </p>
    </ul>
    <a href="{{ url_for('index') }}"class="btn">Kembali ke beranda</a>
    </div>
    </div>
</body>
</html>
